body {
  background-image: url("https://i.pinimg.com/originals/6e/07/40/6e07404c185b3d8c57a83f52dad8d47c.jpg");
  background-size: cover;
}
#banner-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5vh;
  width: 60%;
  height: 40%;
}
.wish-button {
  height: 8em;
  width: 16em;
  padding: 5em;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(235, 223, 223); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
